:root{
    --grey: #fafafa;
    --white: #ffffff;
}

.bg-grey{ background-color: var(--grey);}
.bg-light{ background-color: var(--white) !important;} 
.navbar {
    min-height: 6rem;
}


/* 1 em es la cantidad del fontsize del body y un rem no es siempre relativo al body sino que es relativo al elemento que estas editando */
i.lead {
font-size: 2.8rem;  
}


button.btn-secondary{
    background-color: rgb(192, 189, 189);
    border-color: honeydew;
    margin: 10% 30% 10% 30%; 
    
}

/* li.nav-item{
    display: inline;
    left: 0;
    right: 0;
    text-align:center;
    width:70%;
    float: none

} */

